#container, body, html {
  height: 100%;
}

div {
	height: 20%;
	margin: 5px 0;
	width: 95%;
}

#num1{
background: gray;
}

#num2 {
	background: green;
	float: left;
	height: 75%;
	width: 20%;
	margin-right: 10px;

}

#num3{
	background: red;
	float: left;
	height: 75%;
	width: 74%;


}

#num4{
	background: blue;
	float: left;
}